body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a{ 
  text-decoration: none;
  color: white;
}

header{
   display: flex;
   height: 70px;
   background-color: #c8102e;
   justify-content: space-between;
   align-items: center;
   padding: 10px 30px;
   box-shadow: 0 4px rgba(0,0,0,0.2);
 }
 
.logo{
  display: flex;
  align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

nav a{ 
      font-weight: 600;
      padding-right: 10px;
      transition: color 0.3s;
}

nav a:hover{
  color: black;
}
